<form action="/action_page.php">
  <div class="form-group">
    <label for="id">Id:</label>
    <input disabled type="idOD" [(ngModel)] = "order.id" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="idOD">Id Order Detail:</label>
    <input type="idOD" [(ngModel)] = "order.idOrderDetail" class="form-control" id="idOD">
  </div>
  <div class="form-group">
    <label for="idOD">User :</label>
    <input type="idOD" [(ngModel)] = "order.idUser" class="form-control" id="idOD">
  </div>
  <div class="form-group">
    <label for="idOD">Status:</label>
    <input type="idOD" [(ngModel)] = "order.status" class="form-control" id="idOD">
  </div>
  <div class="form-group">
    <label for="idOD">Payment Method:</label>
    <input type="idOD" [(ngModel)] = "order.paymentMethod" class="form-control" id="idOD">
  </div>
  <div class="form-group">
    <label for="idOD">Coupon:</label>
    <input type="idOD" [(ngModel)] = "order.coupon" class="form-control" id="idOD">
  </div>
  <!-- <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>
  </div> -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>